body{
	background-color: rgb(50, 50, 50);
}
h1{
	font-family: forum;
	font-size: 35px;
	text-align: center;
	color: rgb(150, 150, 150);
}
h2{
	font-family: forum;
	font-size: 30px;
	text-align: center;
	color: rgb(150, 150, 150);
}
p{
	font-family: forum;
	font-size: 25px;
	color: rgb(150, 150, 150);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}
li {
    float: left;
    border-right: 3px solid #333;
}
li:last-child {
    border-right: none;
    border-left: 3px solid #333;
}
li a {
     display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: #224;
}


.container {
    position: relative;
    text-align: center;
    font-family: forum;
	font-size: 45px;
	text-align: center;
	color: rgb(150, 150, 150);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}