body{
	background-color: rgb(50, 50, 50);
}
h1{
	font-family: forum;
	font-size: 50px;
	text-align: center;
	color: rgb(175, 175, 175);
}
p{
	font-family: forum;
	font-size: 25px;
	color: rgb(175, 175, 175);
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: show;
    background-color: #555;
}
li-a {
    display: inline-block;
    font-size: 50px;
    color: rgb(175, 175, 175);
    padding: 10px 16px;
    text-decoration: none;
}